# Easier navigation: .., ..., ~ and -
alias ..="cd .."
#alias ...="cd ../.."
#alias ....="cd ../../.."
#alias .....="cd ../../../.."
#alias ~="cd ~" # `cd` is probably faster to type though
#alias -- -="cd -"

# Shortcuts
#alias d="cd ~/Documents/Dropbox"
alias c="cd ~/code"
alias ce="cd ~/code/_experiments"
alias cr="cd ~/code/rabobank"
#alias dl="cd ~/Downloads"
#alias dt="cd ~/Desktop"
#alias p="cd ~/projects"
#alias g="git"
#alias h="history"
#alias j="jobs"
#alias v="vim"

# programs

alias code="open -a '/Applications/Visual Studio Code - Insiders.app'"
alias webstorm="open -a '/Applications/Webstorm.app'"

#alias st='open -a "Sublime Text"'
# also/or do this:
# ln -s "/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl" ~/bin/subl
#alias preview="open -a '$PREVIEW'"
#alias xcode="open -a '/Developer/Applications/Xcode.app'"
#alias filemerge="open -a '/Developer/Applications/Utilities/FileMerge.app'"
#alias safari="open -a safari"
#alias firefox="open -a firefox"
#alias opera="open -a opera"
#alias chrome="open -a google\ chrome"
#alias chromium="open -a chromium"
#alias dashcode="open -a dashcode"
#alias f='open -a Finder'
#alias fireworks="open -a '/Applications/Adobe Fireworks CS6/Adobe Fireworks CS6.app'"
#alias photoshop="open -a '/Applications/Adobe Photoshop CS6/Adobe Photoshop.app'"
#alias gpr="~/code/gpr $1"

# Thanks to stefanpenner for this one.
# https://www.youtube.com/watch?v=SMWi7CLoZ2Q
#alias nom="rm -rf node_modules && npm cache clear && npm i"

# general shortcuts
#alias pro="cd ~/projects"
#alias gh="open -a google\ chrome 'http://github.com/addyosmani'"
#alias bl="open -a google\ chrome 'http://browserling.com'"

# be nice
#alias please=sudo

# handy things
#alias bunyip='node ~/code/bunyip/cli.js'
#alias spotify="osascript ~/code/SpotifyControl/SpotifyControl.scpt"
